:root {
  margin: 0 auto;
  text-align: center;
}

input {
    border-color: #3498db;
    border-width: 4px;
    border-width: 0.25rem;
    height: 32px;
    height: 2rem;
    width: 160px;
    width: 10rem;
}

button {
 background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.rss-div {
      max-width: 15%;
      min-width: 10%;
      height: 80%;
      overflow: scroll;
      float: left;
      position: fixed;
      background-image: url('../img/bg.jpg');
}

.reader-div {
    margin-left: 15%;
    width: auto;
    background-image: url('../img/bg.png');
}

.container {
  
}

.rss-div div {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.rss-div div.active {
  background-color: #457324;
}

.rss-div div:hover {
  cursor: pointer;
}

.reader-div div {
  font-size: 17px;
  font-size: 1.1rem;
  line-height: 1.5;
  /*text-align: center;*/
}

@media (max-width: 640px) {
    .reader-div {
      margin-left: 18%;
    }
}

.header {
  /*text-align: center;*/
}