
body {

    margin: 0;
    padding: 0;
    height: 100%;
}

input {
    border-color: #3498db;
    border-width: 0.25rem;
    height: 2rem;
    width: 10rem;
}

button {
    background: #3498db;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #3cb0fd;
    text-decoration: none;
}

@custom-media --mobile (width <= 640px);

.header {
    text-align: center;
}

.rss-div {
    max-width: 15%;
    min-width: 10%;
    margin-top: -3000px;
    padding-top: 3000px;
    float: left;
    background-image: url('../img/bg.jpg');
}

.container {

}

.rss-div div {
    margin-bottom: 0.5rem;
}

.rss-div div .active {
    background-color: #457324;
}

.rss-div div:hover {
    cursor: pointer;
}

.right-menu {
    position: absolute;
}

.right-menu span {
    border: solid 1px;
    background-color: #CCCCCC;
    cursor: pointer;

}

.reader-div {
    text-align: center;
    margin-left: 15%;
    background-image: url('../img/bg.png');
}

.reader-div div {
    font-size: 1.1rem;
    line-height: 1.5;
    /*text-align: center;*/
}

@media (--mobile) {
    .reader-div {
        margin-left: 18%;
    }
}
